{% extends "base.html" %}
{% load static %}

{% block posts %}

<div id="page" class="page">

    <div class="page__content" data-page-title="Yachen Lin – Yachen's Blog" data-image="/images/demo/demo-portrait.jpg">

        <section class="blog single">

            <div class="wrap">


                <article class="blog-post">

                    <div class="blog-post__header">
                        <h2 class="blog-post__title"><a href="/kerry-park">Sunrise at Kerry Park, Seattle</a></h2>
                        <p class="blog-post__subtitle">23 November 2018</p>
                    </div>


                    <div class="blog-post__content">
                        <p>
                        <p><img src="{% static "images/20181123/kerry_park.jpg" %}" alt="" width="600px"/></p>

                        <p>五点半醒来看到天气预报说有日出，火速开过去等了一个小时，没有等到，不过试验了新的6 stop ND镜，很满意哈哈。</p>

                        </p>
                    </div>
 
                </article>

                <article class="blog-post">

            <div class="blog-post__header">
                <h2 class="blog-post__title"><a href="/Jose-Rizal-Bridge">Dr Jose Rizal Bridge</a></h2>
                <p class="blog-post__subtitle">10 November 2018</p>
            </div>

            

            <div class="blog-post__content">
                <p><p><img src="{% static "images/20181112/DSC07277-HDR.jpg" %}" alt="" width="600px" /></p>

<p>风在吹，桥在震，一碗抄手暖暖胃</p>

</p>
            </div>

            
            

        </article>

        

        <article class="blog-post">

            <div class="blog-post__header">
                <h2 class="blog-post__title"><a href="/seattle-ferris-wheel">Seattle Great Wheel</a></h2>
                <p class="blog-post__subtitle">10 November 2018</p>
            </div>

            

            <div class="blog-post__content">
                <p><p><img src="{% static "images/20181111/day.jpg" %}" alt="" width="600px" /></p>

<p>计划拍几秒的time lapse但是实在是太冷了哈哈。</p>

<p>手上暂时还没有82mm的ND镜，所以后期stack了30张假装是慢门。</p>

</p>
            </div>

            
            

        </article>

        

        <article class="blog-post">

            <div class="blog-post__header">
                <h2 class="blog-post__title"><a href="/crawler">一个crawler入门小doc</a></h2>
                <p class="blog-post__subtitle">02 October 2018</p>
            </div>

            

            <div class="blog-post__content">
                <p><p>爬起来写了个爬虫的小文档，如果能有帮助那真是极好的了。
忽略了好多细节，也有好多地方不是很严谨，请轻喷。
<a href="https://hackmd.io/xLUD6agSSlm_kw5-V5F96w?view">Web Crawler</a></p>
</p>
            </div>

            
            

        </article>

        

        <article class="blog-post">

            <div class="blog-post__header">
                <h2 class="blog-post__title"><a href="/library">Seattle Skyline @ Seacrest Park</a></h2>
                <p class="blog-post__subtitle">02 October 2018</p>
            </div>

            

            <div class="blog-post__content">
                <p><p><img src="{% static "images/20181021/DSC06317.jpg" %}" alt="" width="600px" /></p>

<p><img src="images/20181021/DSC06319.jpg" alt="" width="400px" /></p>

<p>最近变得不知道要拍什么诶，希望构图和后期能变得顺手</p>
</p>
            </div>

            
            

        </article>

        

        <article class="blog-post">

            <div class="blog-post__header">
                <h2 class="blog-post__title"><a href="/new-camera">Seattle Skyline @ Seacrest Park</a></h2>
                <p class="blog-post__subtitle">02 October 2018</p>
            </div>

            

            <div class="blog-post__content">
                <p><p><img src="{% static "images/20181014/IMG_5692.jpg" %}" alt="" width="900px" /></p>

<p>找到一个可以看到虾图skyline的checkpoint，停车看过去一排人以为大家都在照相，过去一看整齐划一在钓鱼hh</p>

<p>架好架子突然意识到小码头竟然跟着湖摇摆==</p>

<p>风有点大，拍了几张就溜了</p>

<p>回来一看亮部细节损失严重，小图看看还好</p>

<p>35mm, f/6.3, 2s, ISO 1600</p>
</p>
            </div>

            
            

        </article>


            </div>

        </section>

        



    </div>

</div>

{% endblock posts %}
